<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @tiendas_juego.cantidad %>
</p>

<%= link_to 'Edit', edit_tiendas_juego_path(@tiendas_juego) %> |
<%= link_to 'Back', tiendas_juegos_path %>
