<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @tiendas_coleccionable.cantidad %>
</p>

<%= link_to 'Edit', edit_tiendas_coleccionable_path(@tiendas_coleccionable) %> |
<%= link_to 'Back', tiendas_coleccionables_path %>
